/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('../fonts/material-symbols/MaterialSymbolsOutlined-Regular.woff2') format('woff2'),
       url('../fonts/material-symbols/MaterialSymbolsOutlined-Regular.woff') format('woff');
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v301/kJEPBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzfVJO1Q.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: 'liga'; */
  -webkit-font-smoothing: antialiased;
}

#thermo-icon-styled {
    /* Sets the size of the visible icon */
    width: 28px;
    height: 28px;
    display: inline-block;
    
    /* Loads your external SVG file as a stencil */
    mask-image: url('../static/icons/thermo.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    
    /* Sets the color (using background-color for masks) */
    background-color: rgb(19, 127, 236);
}